<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sourcey.survey">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="Observation Forms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            >


        </activity>

        <receiver android:name=".AirplaneModeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".FormOne.FormOne"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FormTwo.FormTwo"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FormThree.FormThree"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FormFour.FormFour"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".FormFive.FormFive"
            android:label="@string/title_activity_form_one"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormSix.FormSix"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormSeven.FormSeven"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormEight.FormEight"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormNine.FormNine"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormTen.FormTen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormEleven.FormEleven"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormTwelve.FormTwelve"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".FormThirteen.FormThirteen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormFourteen.FormFourteen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormFifteen.FormFifteen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FormSixteen.FormSixteen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>